a {
	display: inline-block;
}

img {
	vertical-align: top;
}

.inner {
	width: 1100px;
	margin: 0 auto;
}

.font-Raleway {
	font-family: Raleway;
}

body {
	background-color: #f2f2f2;
	font-family: Lato;
}

.header {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 1;
	padding: 15px 0;
}

/* 共通のbutton */
.button {
	font-size: 12px;
	color: #fff;
	background-color: #74cfae;
	text-decoration: none;
	transition: .3s;
}

.bolt {
	color: #4e4e4e;
	text-align: left;
	font-size: 40px;
}

.header .button {
	padding: 14px 12px;
	float: right;
	margin-right: 0;
	margin-top: auto;
}

.button:hover{
	color: #333;
}

.main {
	padding-top: 70px;
}

.main .bolt {
	padding: 250px 0;
}

.bolt-inner {
	background-color: #f2f2f2;
}
.bolt .bolt-theme {
	font-size: 90px;
	font-weight: 700;
	color: #74cfae;
	margin-bottom: 20px;
	text-align: center;
}

.bolt .bolt-text {
	font-size: 30px;
	color: #c0c0c0;
	text-align: center;
}

.news {
	color: #fff;
	padding: 50px 0 25px;
}

.news, .finish {
	background-color: #74cfae;
}

.news-inner {
	display: flex;
	justify-content: space-around;
}

.news-inner-block {
	text-align: center;
	width: 60%;
	margin-top: 35px;
}

.news .font-title {
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
}

.news .news-text {
	font-size: 20px;
	color: #fff;
	line-height: normal;
}

.list {
	padding: 60px 0 70px;
}

.list .title {
	font-size: 24px;
	margin-bottom: 40px;
	color: #333;
	text-align: center;
}

.list .img-box {
	font-size: 0;
	margin-bottom: 90px;
}

.list .a-img {
	margin-top: 80px;
	margin-right: 100px;
	opacity: 0.7;
	transition: .3s ;
}

.list .a-img:nth-child(-n+3) {
	margin-top: 0;
}

.list .a-img:hover {
	opacity: 1;
}

.list .a-img:nth-child(3n) {
	margin-right: 0;
}

.list .our-text {
	font-size: 19px;
	margin-right: 90px;
	text-align: center;
	line-height: normal;
	display: inline-block;
	width: 50%;
}

.list .button {
	display: inline-block;
	padding: 14px 20px;
	vertical-align: top;
	height: auto;
}

.list .block {
	text-align: center;
}

.figure {
	background-color: #4e4e4e;
	padding: 70px 0 100px;
}

.figure .our-skills, .figure .item-text {
	color: #fff;
	text-align: center;
	font-size: 16px;
}

.figure .our-skills {
	margin-bottom: 50px;
	font-size: 24px;
}

.item-box {
	text-align: center;
}

.figure .item {
	display: inline-block;
	margin-right: 180px;
}

.figure .item:last-child {
	margin-right: 0;
}

.figure .item-text {
	margin-top: 15px;
}

.icon-block {
	padding: 200px 0;
}

.icon-block .icon-box {
	display: flex;
	justify-content: center;
}

.icon-block .icon {
	width: 185px;
	color: #74cfae;
	padding: 50px 0;
	text-decoration: none;
	transition: .3s;
}

.icon-block .icon:hover {
	background-color: #fff;
}

.finish {
	background-color: #74cfae;
	padding: 20px 0 25px 0;
}

.finish .crafted {
	text-align: right;
	color: #fff;
}

/* PC	1200px - */
/* TAB	768px - 1199px */
/* SP	- 767px */

/* tab用(min)とpc用のcssを記述 */
@media screen and (min-width:768px) {
	.header .nav {
		display: none;
	}
}

/* tab用(max)とスマホ用のcssを記述 */
@media screen and (max-width:1199px) {
	.inner {
		width: 97%;
	}

	.bolt .bolt-theme {
		font-size: 80px;
		margin-bottom: 20px;
	}

	.news-inner {
		display: block;
		text-align: center;
	}

	.news-inner-block {
		width: 100%;
	}

	/* 画像 * 6 */
	.list {
		display: block;
		text-align: center;
	}

	.list .img-box {
		margin-bottom: 80px;
	}

	.list .a-img {
		margin: 0 auto;
		display: block;
		text-align: center;
		width: 300px;
	}

	.list .a-img:nth-child(3n){
		margin-bottom: 80px;
		margin-right: auto;
	}

	.list .a-img:last-child {
		margin-bottom: 0;
	}
	

	.list .our-text {
		display: block;
		width: 100%;
		margin-bottom: 40px;
	}

/* 円 */
	.figure .item-box {
		display: block;
	}

	.figure .item {
		margin: 88px auto 0;
		display: block;
		text-align: center;
	}

	.figure .item:first-child {
		margin-top: 0;
	}

/* sns */
	.icon-block .icon {
		width: 25%;
	}

}

/* スマホ用のcssを記述 */
@media screen and (max-width:767px) {
	.header .button {
		display: none;
	}

	.header .nav {
		padding: 10px;
		border: 1px solid #ddd;
		color: #333;
		border-radius: 4px;
		float: right;
		margin-right: 0;
		margin-top: auto;
	}

	/* bolt theme */
	.main .bolt {
		padding: 160px 0 130px;
	}

/* sns */
	.icon-block .icon-box {
		display: block;
	}

	.icon-block {
		padding: 50px 0;
	}

	.icon-block .icon {
		display: block;
		text-align: center;
		width: 100%;
	}
}
