a {
	display: inline-block;
}

img {
	vertical-align: top;
}

.inner {
	width: 1100px;
	margin: 0 auto;
}

.section .theme, .article .title {
	font-family: Raleway;
}

body {
	font-family: Lato;
	background-color: #f2f2f2;
}

.header {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 1;
	padding: 15px 0;
}

/* 共通のbutton */
.button {
	font-size: 12px;
	color: #fff;
	background-color: #74cfae;
	text-decoration: none;
}

.bolt {
	color: #4e4e4e;
	text-align: left;
	font-size: 40px;
}

.header .button {
	padding: 14px 12px;
	float: right;
	margin-right: 0;
	margin-top: auto;
}

.button:hover{
	transition: .3s;
	color: #333;
}

.main {
	padding-top: 70px;
}

.main .bolt-theme {
	padding: 250px 0;
}

.title-inner {
	background-color: #f2f2f2;
}
.bolt-theme h1 {
	font-size: 90px;
	font-weight: 700;
	color: #74cfae;
	margin-bottom: 20px;
	text-align: center;
}

.bolt-theme p {
	font-size: 30px;
	color: #c0c0c0;
	text-align: center;
}

.section {
	color: #fff;
	padding-top: 50px;
}

.section, .footer {
	background-color: #74cfae;
}

.section-inner {
	display: flex;
	justify-content: space-around;
}


.section-inner-block {
	text-align: center;
	width: 60%;

}

.section .theme {
	font-size: 24px;
	margin-bottom: 35px;
	text-align: center;
}

.section p {
	font-size: 20px;
	color: #fff;
	line-height: normal;

}

.article {
	padding-top: 60px;
	padding-bottom: 70px;
}

.article .title {
	font-size: 24px;
	margin-bottom: 40px;
	color: #333;
	text-align: center;
}

.img-box {
	font-size: 0;
}

.article .a-img {
	margin-bottom: 80px;
	margin-right: 100px;
	opacity: 0.7;
}

.article .a-img:hover {
	transition: .3s ;
	opacity: 1;
}

.article .a-img:nth-child(3), .article .a-img:nth-child(6) {
	margin-right: 0;
}

.article .a-img:nth-child(3n) {
	margin-bottom: 90px;
}

.article p {
	font-size: 19px;
	margin-right: 90px;
	text-align: center;
	line-height: normal;
	display: inline-block;
	width: 50%;
}

.article .button {
	display: inline-block;
	padding: 14px 20px;
	vertical-align: top;
	height: auto;
}

.article .block {
	text-align: center;
}



.figure {
	background-color: #4e4e4e;
}

.figure-inner {
	padding-top: 70px;
	padding-bottom: 100px;
}

.figure h2, .figure p {
	color: #fff;
	text-align: center;
	font-size: 16px;
}

.figure .our {
	margin-bottom: 50px;
}

.item-box {
	text-align: center;
}

.figure .item {
	display: inline-block;
	margin-right: 180px;
}

.figure .item:last-child {
	margin-right: 0;
}

.figure p {
	padding-top: 15px;
}

nav {
	padding: 200px 0;
}

.nav-inner {
	display: flex;
	justify-content: center;

}

nav .icon {
	font-weight: 185px;
	width: 185px;
	color: #74cfae;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
	text-decoration: none;
}

nav .icon:hover {
	transition: .3s;
	background-color: #fff;
}

.footer {
	background-color: #74cfae;
	padding-top: 20px;
	padding-bottom: 25px;
}

.footer p {
	text-align: right;
	color: #fff;
}

/* @media screen and ( min-width:1200px ) */
/* { */
/* } */
/* @media screen and (min-width:768px) and (max-width:1199px) { */
	/*tablet用のcssを記述*/
/* } */
/* @media screen and (max-width:767px) { */
	/*スマホ用のcssを記述*/
/* } */